body {
  text-align: center;
  background-color: #fff4f6;
  font-family: 'Comic Sans MS', cursive;
  margin-top: 50px;
}

h1 {
  color: #ff4081;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 25px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  background-color: #ff4081;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #e91e63;
}
